{% extends "image/base.html" %}

{% block title %}PNC 云平台 -- 镜像管理{% endblock %}

{% block image_content %}
image list<br>

<table>
  <tr>
    <th>id</th>
    <th>state</th>
    <th>image name</th>
    <th>max size(MB)</th>
    <th>size(MB)</th>
    <th>option</th>
  </tr>
  {% for image in images %}
  <tr>
    <td>{{ image.id }}</td>
    <td>{{ image.state.name }}</td>
    <td>{{ image.local_dev }}</td>
    <td>{{ image.max_size }}</td>
    <td>{{ image.size }}</td>
    <td>
      <form action="" method="POST">
	{% csrf_token %}
	<input type="submit" name="option" value=" detail ">
	<input type="text" name="id" value="{{ image.image_id }}" hidden="true">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
