{% url clc.views.view_add_image as add_image_url %}
<style type="text/css">
#nb {
  font: 13px/27px Arial, sans-serif;
  height: 30px;
}
#nb ul {
  list-style: none;
  margin: 0px;
} 
#nb ul li {
  float: left;
}
.nbzt {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: block;
  *display: inline-block;
  padding: 0 5px;
  position: relative;
  z-index: 1000
}
</style>
<div id="nb">
  <ul>
    <li>
      <a href="{{ add_image_url }}"><span class="nbzt">添加镜像</span></a>
    </li>
    <li>
      <a href="#"><span class="nbzt">删除镜像</span></a>
    </li>
  </ul>
</div>
